version: '3.3'
services:
  server:
    image: jared-backend
    build:
      context: ./server
      dockerfile: ./Dockerfile
    ports:
      - "3000:3000"
    environment:
      - JWT_SECRET=4ImI1awVprbeUenPcYcmbyuDBV08Td6lgSDIhbMrLjo
      - WAIT_HOSTS=mongo:27017
    networks:
      - backend
    depends_on:
      - mongo
  mongo:
    image: "mongo"
    container_name: "mongo"
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    networks:
      - backend
    # volumes:
    #   - ./data:/data/db
    command: mongod --smallfiles --logpath=/dev/null --dbpath=/data/db # --quiet

networks:
  backend:
    driver: "bridge"